{% extends "shop/base.html" %}

{% block title %}
    {{product.name}}
{% endblock %}

{% block content%}
<div class = "container">
    <div class = "page-header">
        <h1>{{product.name}}</h1>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <img class="img-responsive" src="{% if product.image %}{{product.image.url}}{%else%}https://pbs.twimg.com/profile_images/473506797462896640/_M0JJ0v8.png{%endif%}">
        </div>
        <div class= "col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="jumbotron">
                <p>{{product.description | linebreaks}}</p>
            </div>
            <h3>cena: {{product.price}} zł</h3>
            <form action="{% url "cart:cart_add" product.id %}" method="post">
                {{cart_product_form}}
                {% csrf_token%}
                <input type="submit" value="Dodaj do koszyka" >
            </form>
        </div>
    </div>
{% endblock%}